<div class="d-flex justify-content-center  mb-5">
  <div class="mx-width mt-4">
    <form [formGroup]="formGroup">
      <div class="form-group">
        <label for="userName">Name</label>
        <input type="text" class="form-control" id="userName" aria-describedby="userNameHelp" placeholder="Enter user name" formControlName="userName">
        <small id="userNameHelp" class="form-text text-muted">Choose a user name for your profile.</small>
        <div></div>
      </div>
      <div class="form-group">
        <label for="emailId">Email address</label>
        <input type="email" class="form-control" id="emailId" aria-describedby="emailHelp" placeholder="Enter email" formControlName="emailId">
        <small id="emailHelp" class="form-text text-muted">Enter your email address for communication purpose</small>
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth</label>
        <input type="date" class="form-control" id="dob" aria-describedby="dobHelp" formControlName="dob">
        <small id="dobHelp" class="form-text text-muted">Enter your date of birth</small>
      </div>
      <div class="form-group">
        <label for="loc">Location</label>
        <!-- <input type="text" class="form-control" id="loc" aria-describedby="locHelp" placeholder="Select your location" formControlName="loc"> -->
        <app-gmap [searchControl]="formGroup.get('loc')"></app-gmap>
        <small id="locHelp" class="form-text text-muted">Select your location using this map</small>
      </div>
      <div class="d-flex flex-column">
        <button type="button" class="btn btn-outline-primary mr-2" (click)="save()" (mousedown)="high=true" (mouseup)="high=false">Save</button>
      </div>
      <div class="d-flex justify-content-center" *ngIf="formGroup.invalid">
        <small id="locHelp" class="form-text text-muted ani" [ngClass]="{'expand': high===true}">Fields highlited in <span class="text-danger">red</span> color are mandatory fields</small>
      </div>
    </form>
  </div>
</div>
